/* CSS-About */

body {background-image: url("img/bgweb.png");
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
}

/* Main Layout */
.page {background-color:none;
       width:95%;
       margin:auto;
       padding:20px;}

/* Header section */
.main-header {background-color:none;
 	      width:100%;
              padding:0px;}

.banner {width:100%;}

[class|="nav-main"] {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:#8FBC8F;}

.nav-main li {float: left;
}

.nav-main li a {display: block;
  	        color: white;
  	        text-align: center;
		text-size:10px;
		text-transform: uppercase;
  	        padding: 12px 10px;
  	        text-decoration: none;
}

.nav-main li a:hover:not(.active) {background-color: #111;
}

.active {
  background-color: #04AA6D;
}



/* Main section */
.main {background-color:none;
      width:80%;
      float:left;
      padding:70px;
      border-radius:15px;}

.container {width:80%;}

h1 {color:#FFDAB9;
    font-family:"copperplate",fantasy;
    font-size:250%;
    text-shadow:2px 2px 7px #000000;}

#id-para01 {font-family:arial;
   line-height:1.5;
   text-align: justify;
   text-indent: 20px;}

#id-para02 {font-family:time new roman;
             line-height:1.3;
             text-align:justify;
             text-indent:0px;}

p {font-family:arial;
   line-height:1.2;
   text-align: justify;
   text-indent:0px;
}


/* Sidebar section */
.sidebar {background-color:none;
          width:20%;
	  height:1585px;  
          float:right;
	  padding:30px;
	  border-radius:15px;}


#id-para03 {font-family:"Lucida handwriting",cursive;
	    font-size:150%;
	    text-align:center;
	    text-indent:0px;
	    color:snow;}

#id-para04 {font-family:"Monaco",monospace;
	    text-align:center;
	    text-indent:0px;
            line-height:1.2;}

#id-para05 {text-indent:0px;
	    text-align:center;
            line-height:1.3;}

#id-sidetxt {text-align:center;
	     color:white;
             animation: mymove 3s infinite;}
@keyframes mymove {
  from {background-color: red;}
  to {background-color: blue;}


