/* This is CSS-program */

body {background-image: url("img/bgweb.png");
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
}

/* Main Layout */
.page {background-color:none;
       width:95%;
       margin:auto;
       padding:20px;}

/* Header section */
.main-header {background-color:none;
	      width:100%;
              padding:0px;
}

.banner {width:100%;}


[class|="nav-main"] {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #8FBC8F;}

.nav-main li {float: left;
}

.nav-main li a {display: block;
  	        color: white;
  	        text-align: center;
		text-size:10px;
		text-transform: uppercase;
  	        padding: 12px 10px;
  	        text-decoration: none;}

.nav-main li a:hover:not(.active) {background-color: #111;
}

.active {
  background-color: #04AA6D;
}

 
/* Main section */
main {background-color:#F0FFF0;
      width:80%;
      height:1174px;
      float:left;
      padding:70px;
      border-radius:15px;}

.container {width:80%;}

h1 {font-family:"Brush script MT",cusive;
    font-size:300%;
    color:fuchsia;
    text-shadow:2px 2px 7px #000000;
}

p {font-family:verdana;
   color:navy;
   line-height:1.8;
   text-align: justify;
}



/* slideshow  */
@keyframes slideshow {
	10% {left: 0;}
	20% {left: 0;}
	30% {left: -100%;}
	40% {left: -100%;}
	50% {left: -200%;}
	60% {left: -200%;}
	70% {left: -300%;}
	80% {left: -300%;}
	90% {left: -400%;}
	100% {left: -400%}
}


#slider{overflow:hidden;width:50%;margin:5px auto; border: 5px solid transparent;border-radius: 10px;}
#slider figure img{width:20%;float:left;}
#slider figure{position:relative;width:500%;margin:0;left:0;text-align:left;animation:20s slideshow infinite}

@media screen and (max-width: 767px) {#slider {overflow: hidden; width: 100%; margin: 0 auto;}}




/* Sidebar section */
.sidebar {background-color:#F0FFF0;
          width:20%;  
          float:right;
          padding:30px;
	  border-radius:15px;}


#id-para01 {font-family:"Lucida handwriting",cursive;
	    font-size:150%;
	    text-align:center;
	    text-indent:0px;
	    color:maroon;}

#id-para02 {font-family:"Monaco",monospace;
	    color:black;
	    text-indent:0px;
	    text-align:center;
            line-height:1.2;}

#id-para03 {text-indent:0px;
	    color:black;
	    text-align:center;
            line-height:1.3;}

#id-sidetxt {text-align:center;
	     color:white;
             animation: mymove 3s infinite;}
@keyframes mymove {
  from {background-color: red;}
  to {background-color: blue;}
}


/* Footer section */
.main-footer {background-color:#F0FFF0;
              clear:both;
              padding:10px;
	      border-radius:15px;}
#id-footer {text-align:center;
	    color:black;
	    text-indent:0px;
            line-height:1.0;}